body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    background-image: url("../country-quilt.png");
    color: #2e313a;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
}

/** Form: option radio styling */

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #9ca1a8;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;

}
.option-input:hover {
    background: #79818e;
}
.option-input:checked {
    background: #17a2b8;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #17a2b8;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

.formRadio {
    margin-top: 0.5em;
    color: #000000;
    font-weight: normal;
    text-align: center;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.wrapper{
    display: flex;
    align-items: center;
    width: 100vw;
}

.lineSpacing{
    top: 0.5em;
}

.lineSpacing1em{
    top: 1em;
    height: 0.5em;
}

.lineSpacing2em{
    top: 2em;
    height: 1em;
}


#formContainer {
    padding: 2em;
    top: 40%;
    margin-top: 6em;
    margin-bottom: 6em;
    border-radius: 8px;
    background: rgba(204, 201, 204, 0.6);
    width: 25em;
    -webkit-box-shadow: 4px 10px 53px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 53px -13px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 53px -13px rgba(0,0,0,0.75);
}


select{
    border: 4px;
    font: 18px Roboto;
    padding: 2px;
    width: auto !important;
}

/** Range slider styling **/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.85px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.3px;
    cursor: pointer;
    box-shadow: 1.8px 1.8px 4.4px rgba(0, 0, 0, 0.88), 0px 0px 1.8px rgba(13, 13, 13, 0.88);
    background: #17a2b8;
    border-radius: 15.4px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.2px 1.2px 4.2px #000031, 0px 0px 1.2px #00004b;
    border: 1px solid #000000;
    height: 16px;
    width: 39px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1bbed8;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4.3px;
    cursor: pointer;
    box-shadow: 1.8px 1.8px 4.4px rgba(0, 0, 0, 0.88), 0px 0px 1.8px rgba(13, 13, 13, 0.88);
    background: #17a2b8;
    border-radius: 15.4px;
    border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.2px 1.2px 4.2px #000031, 0px 0px 1.2px #00004b;
    border: 1px solid #000000;
    height: 16px;
    width: 39px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 4.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #138698;
    border: 0 solid #010101;
    border-radius: 30.8px;
    box-shadow: 1.8px 1.8px 4.4px rgba(0, 0, 0, 0.88), 0px 0px 1.8px rgba(13, 13, 13, 0.88);
}
input[type=range]::-ms-fill-upper {
    background: #17a2b8;
    border: 0 solid #010101;
    border-radius: 30.8px;
    box-shadow: 1.8px 1.8px 4.4px rgba(0, 0, 0, 0.88), 0px 0px 1.8px rgba(13, 13, 13, 0.88);
}
input[type=range]::-ms-thumb {
    box-shadow: 1.2px 1.2px 4.2px #000031, 0px 0px 1.2px #00004b;
    border: 1px solid #000000;
    height: 16px;
    width: 39px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;

}
input[type=range]:focus::-ms-fill-lower {
    background: #17a2b8;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1bbed8;
}


/** File upload input styling */

input[type=file]{
    height: 45px;
    padding: 7px;
}

/** Price warning styling when a users puts over a certain price */

.priceWarn{
    font-size: 12px;
    color: #505561;
    margin-bottom: 0;
}

.btnShadow {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}


/** To check the BS4 Grid


div[class="row"] {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}

 */